*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left,#f5ebb5,#f7f5e9);
}

.container1{
    max-width: 1068px;
    margin: auto;
    width: 100%;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right,#f5ebb5,#f7f5e9);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%) ;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.container1 a:hover 
{
    background: rgb(95, 46, 23);
    padding: 8px 8px;
    color:blanchedalmond;
}
.logo{
    font-size:x-large;
    font-weight: bold;
    margin-left: -100px;
}
.form 
{
    display: inline-block;
    margin-top: 15px;
}

input[type=text]
{
    padding: 10px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 10px ;
    border: none;
    border-radius: 50px;
    width: 76%;
}
button[type=submit]
{
    padding: 10px;
    background-color: rgb(248, 118, 4);
    color: blanchedalmond;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
button[type=submit]:hover 
{
    background-color: #330101;
}
#cart-icon{
    font-size:x-large;
    font-weight: 400;
    cursor: pointer;
    margin-right: -70px;
}

a{
    text-decoration: none;
    color:#555;
    transition: 0.2s;
    font-size: larger;
    
}
p{
    color:#555;
}
